name: Build

on:
  push:
    branches:
    - master

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        toolchain: [stable, beta, nightly]

    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: ${{ matrix.toolchain }}
        override: true
        components: clippy
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
      if: matrix.toolchain == 'nightly'
    - name: Install Clippy
      run: rustup component add clippy
      if: matrix.toolchain == 'nightly'
    - name: Run Clippy
      run: cargo clippy --all-targets --all-features -- -D warnings -D clippy::pedantic
      if: matrix.toolchain == 'nightly'
